/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}
h4{
    padding-left: 35px;
}
#g{
    color: rgb(0, 140, 255);
}
#o{
    color: orangered;
}
#oo{
    color: rgb(255, 196, 0);
}
#gg{
    color: rgb(0, 140, 255);
}
#l{
    color: green;
}
#e{
    color: orangered;
}

.headom{
    text-align: center;
    text-decoration: underline;
}
/*-------------
 Navigation 
 ------------*/
.navigate{
    text-decoration: none;
    padding: 6px 10px;
    font-size: 20px;
    color:white;
    font-weight: 700;
    margin-top: 28px;
    border-radius: 0px;
    margin-left: 6px;
}
.navigate:hover{
    text-decoration: underline;
}
.nav-div{
    background-color: grey;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hola{
    margin-left: 0px;
}
.google{
    border: 3px solid orangered;
    text-decoration: none;
    padding: 6px 15px;
    font-size: 20px;
    color:navy;
    font-weight: 700;
    margin-top: 0px;
    border-radius: 18px;
}
.navr{
    margin-top: 15px;
}
.fab{
    color: white;
    width: 26px;
}
.fas{
    color: whitesmoke;
}
.fab:hover{
    color: red;
}
.fas:hover{
    color: darkorchid;
}
.ya{
    width: 50px;
    height: 50px;
    display: inline;
    margin-right: 9px;
    border-radius: 60px;
}
/* image library */
.pic-header{
    border: 2px black solid;
    background-color: mediumspringgreen;
    border-radius: 18px;
    text-align: center;
    color: brown;
}
.pic-div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.img-lib-styles{
    border: solid 2px rgb(77, 77, 77);
    border-radius: 18px;
}
/* Collection */
#car{
width: 1330px;    

}
.h-six{
    font-size: 25px;
    color: crimson;
    text-align: center;
    text-decoration: underline;
}
.ps-four{
    margin-left: 350px;
    border-radius: 10px; ;
}
.ps-four-2{
    margin-left: 390px;
}
.ps-four-3{
    border-radius: 10px;
}
#pika{
    margin-left: 130px; 
    border-radius: 10px;   
}
#pikapo{
    border-radius: 10px;
    margin-left: 35px
}
.dream{
    text-align: center;
    text-decoration: underline;
    border-radius: 10px;
}
/* sign/log */
.butt{
    text-decoration: none;
    padding: 6px 15px;
    font-size: 15px;
    color:black;
    margin-top: 0px;
    border: 2px solid;
    border-radius: 5px;
    font-weight: 400;
}
.middle{
    text-align:start;
    margin-left: 25px;
    margin-right: 250px;
    color: black;
}

/* About me */
.my-pic-1{
    border: 5px solid crimson;
    width: 400px;
    border-radius:150px;
}
.para-5{
    width: 80%;
    height: 120px;
    margin-left: 30px;
    margin-top: 55px;
}
.sec-flex{
    display: flex;
}
.butt-2{
    text-decoration: none;
    margin-bottom: 3px;
    padding: 5px 15px;
    font-size: 19px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    margin-left: 700px;
    display:inline-block;
}
.butt-9-99{
    text-decoration: none;
    margin-bottom: 3px;
    padding: 5px 35px;
    font-size: 19px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 450px;
    display:inline-block;
}
.butt-9-99:hover{
    text-decoration: underline;
}
.image-w{
    width: 40%;
    border-radius: 115px;
    border: orange 4px solid;
    margin-bottom: 45px;
}
.mago-ma{
    margin-top: 78px;
    margin-left: 30px;
}
.butt-2:hover{
    text-decoration: underline ;
    color: white;
}
/* footer */
.footer-div{
    background-color: grey;
    height: 180px;
}
.butt-3{
    color: white;
    font-weight: 500;
}
.butt-3:hover{
color: black;
text-decoration: underline;
}
#butt-5{
    margin-left:409px;
}
#but{
    margin-left: 15px;
}
.center{
    margin-top: 0px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;}